@charset "UTF-8";
*{
	margin: 0;
	padding:0;
}
.topchoice {
	margin-top:30px;
	background-color: white;
	text-align: center;
	margin-bottom: 50px;
}

.topchoice a {
	text-decoration: none;
	border: 2px solid black;
	font-weight: bold;
	display: inline-block;
	width: 200px;
	height: 40px;
	line-height: 40px;
	border-radius: 10px;
	background-color: white;
	margin-right: 15px;
}

.topchoice a:last-child {
	margin-right: 0;
}

.topchoice a:hover {
	opacity: 0.5;
}
.all{
	border:1px solid black;
	width:700px;
	margin:auto;
	margin-top: 50px;
}
.typeButton{
	text-align: center;
	height: 150px;
	line-height: 150px;
}
.typeButton button{
	border: none;
	border-radius:10px;
	text-decoration: none;
	padding:15px 20px;
	font-size: 20px;
}
.typeButton button:hover{
	color: red;
	cursor: pointer;
}
.board_title a{
	text-decoration: none;
	color: black;
}
.board_title a:visited{
	color: black;
}
#board{
	border-collapse:collapse;
	text-align: center;
	margin: auto;
	width: 100%;
}
.headers{
	background-color: #ddd;
}
#board th,td{
	border-bottom: 1px solid gray;
}
.headers th:first-child {
	width: 100px;
}
.headers th:last-child {
	width: 100px;
}
.headers td:last-child {
	width: 100px;
}
